<h1>@ViewBag.trail.Name</h1>
<h4>Description:</h4>
<p>@ViewBag.trail.Description</p>
<h4>Trail Length:</h4>
<p>@ViewBag.trail.Length Miles</p>
<h4>Final Elevation:</h4>
<p>@ViewBag.trail.Elevation Feet</p>
<h4>Longitude:</h4>
@{
    if(@ViewBag.trail.Longitude < 0) {
        <p>@ViewBag.trail.Longitude 째S</p>
    } else {
        <p>@ViewBag.trail.Longitude 째N</p>
    }
}
<h4>Latitude:</h4>
@{
    if(@ViewBag.trail.Latitude < 0) {
        <p>@ViewBag.trail.Latitude 째E</p>
    } else {
        <p>@ViewBag.trail.Latitude 째W</p>
    }
}
<a href="/"><button class="btn btn-info">Go home</button></a>